# Database (PostgreSQL - Neon, Supabase, or local)
DATABASE_URL="postgresql://postgres:Obstagoon@27@db.omlvftvfrmaxovwbsddr.supabase.co:5432/postgres?sslmode=require"

NEXTAUTH_SECRET="d1tqQIYe6kH04bpR64ymqn06IcbW5CA/r3GKzn+F32M="
NEXTAUTH_URL="http://localhost:3000"
